{#
/**
 * @file
 * Default theme implementation to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main content
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 *
 * @ingroup themeable
 */
#}
{%
set classes = [
'block',
'block-' ~ configuration.provider|clean_class,
'block-' ~ plugin_id|clean_class,
]
%}
<div{{ attributes.addClass(classes) }}>
    <h2>Nous contacter</h2>
    {% block content %}
        <div{{ content_attributes.addClass('content') }}>
            {{ content }}
            {#<div id="map"></div>#}
            <img src="themes/custom/opquast/images/contact/maps.png" alt="Carte Google Maps de la location d'OPQUAST"/>
            <div class="address">
                <p><span class="icon-pictolocalisation"></span>18 rue Lucien Granet, 33150 Cenon</p>
                <p><span class="icon-pictocell"></span>+33 5 56 40 14 02</p>
            </div>
        </div>
    {% endblock %}
</div>
