{#
/**
 * @file
 * Default theme implementation for the completion message.
 *
 * Available variables:
 * - order_entity: The order entity.
 * - payment_instructions: The payment instructions, if provided.
 *
 * @ingroup themeable
 */
#}
<div class="checkout-complete">
    <p>Votre numéro de commande est : {{ order_entity.getOrderNumber }}</p>
    <p>Vous pouvez accéder à votre commande sur la page de votre profil une fois connecté.</p>
    <div class="icon-pictoheart gradient"></div>
    <p class="gradient">Merci à vous</p>
    <p class="gradient">Pour votre confiance</p>
    {% if payment_instructions %}
        <div class="checkout-complete__payment-instructions">
            <h2>{{ 'Payment instructions'|t }}</h2>
            {{ payment_instructions }}
        </div>
    {% endif %}
</div>
