{#
/**
 * @file
 * Bootstrap Barrio's override to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 */
#}

{% import _self as menus %}

{#
  We call a macro which calls itself to render the full tree.
  @see http://twig.sensiolabs.org/doc/tags/macro.html
#}
{{ menus.menu_links(items, attributes, 0, cartCount) }}

{% macro menu_links(items, attributes, menu_level, cartCount) %}

  {% import _self as menus %}
  {% if items %}
    {% if menu_level == 0 %}
<ul{{ attributes.addClass('nav navbar-nav') }}>
    {% else %}
  <ul class="dropdown-menu">
      {% endif %}
      {% for item in items %}
          {%
          set classes = [
          menu_level ? 'dropdown-item' : 'nav-item',
          item.is_expanded ? 'menu-item--expanded',
          item.is_collapsed ? 'menu-item--collapsed',
          item.in_active_trail ? 'active',
          item.below ? 'dropdown',
          ]
          %}
        <li{{ item.attributes.addClass(classes) }}>
            {% set uri = item.url.toString %}
            {% if uri == "/cart" %}
                {%
                set classes = [
                'nav-link',
                'icon-pictobasket',
                item.in_active_trail ? 'active',
                ]
                %}
                {% if cartCount > 0 %}
                    <span class="cart-qty">{{ cartCount }}</span>
                {% endif %}
            {% elseif uri == '/search' %}
                {%
                set classes = [
                'nav-link',
                'icon-pictosearch',
                item.in_active_trail ? 'active',
                ]
                %}
            {% elseif uri == '#account' %}
                {%
                set classes = [
                'nav-link',
                'icon-pictoprofil',
                item.in_active_trail ? 'active',
                ]
                %}
            {% endif %}
            {% if menu_level == 0 %}
                {% set linkTitle = ' ' %}
            {% else %}
                {% set linkTitle = item.title %}
            {% endif %}
            {% if item.below %}
                {{ link(linkTitle, item.url, {'class': classes, 'aria-expanded': 'false', 'aria-haspopup': 'true' }) }}
                {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
            {% else %}
                {{ link(linkTitle, item.url, {'class': classes}) }}
            {% endif %}
        </li>
      {% endfor %}
  </ul>
    {% endif %}
    {% endmacro %}
