.region-certificates-list{
  padding: 0 10rem;
  > div {
    width: 100%;
  }
  [id^="block-listedescertificatspourchaquepartenaire"] {
    .content{
      @include flexbox();
      @include justify-content(space-between);
      > article{
        @include gradient;
        @include flex-basis(45%);
        text-align: center;
        padding: 4px;
        border-radius: 30px;
        .node__content{
          border-radius: 30px;
          background-color: $white;
          .field--name-field-candidate{
            article{
              .field--name-field-lastname, .field--name-field-name{
                display: inline-block;
              }
              a, img{
                display: none;
              }
            }
          }
        }
      }
    }
  }
}