div[id^="block-formulairedinscriptionalanewsletter"] {
  form.newsletter-form{
    @include flexbox();
    .js-form-type-email{
      margin-right: 15px;
      padding-right: 20px;
    }
    .js-form-type-email, .form-actions {
      height: 45px;
      @include gradient();
      border-radius: 15px;
      display: inline-block;
      padding: 2px;
      input, button {
        background-color: $white;
        margin: 0;
        border: none;
        display: block;
        padding: 10px;
        border-radius: 15px;
        height: 40px;
      }
      button[type="submit"] {
        width: 45px;
        font-weight: bold;
        background: $white;
        -webkit-text-fill-color: black;
        padding: 5px 0 0 0;
      }
    }
  }
}