.region-progress-bar{
  > div {
    width: 100%;
  }
  div[id^="block-bardeprogressiondutunneldachat"] {
    margin: 8rem 0;
    width: 100%;
    .purchase-steps{
      border-bottom: solid 1px #e0e0e0;
      padding: 0 0 10px 0;
      .step{
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        padding: 0;
        position: relative;
        .step-dot{
          position: absolute;
          width: 20px;
          height: 20px;
          display: block;
          background: #C4C4C4;
          top: 27px;
          left: 50%;
          margin-top: -15px;
          margin-left: -15px;
          border-radius: 50%;
        }
        &:first-child{
          > .progress{
            left: 50%;
            width: 50%;
          }
        }
        &:last-child{
          > .progress{
            width: 50%;
          }
        }
        &.disabled{
          .step-dot{
            background-color: #f5f5f5;
            pointer-events: none;
          }
        }
        &.complete{
          .step-dot{
            background: #2D8E8E;
          }
          .progress{
            > .progress-bar{
              width:100%;
            }
          }
        }
        &.active{
          .step-dot{
            background: #2D8E8E;
          }
          .progress{
            > .progress-bar{
              width:50%;
            }
          }
        }
        &:first-child{
          &.active{
            .progress{
              > .progress-bar{
                width:0%;
              }
            }
          }
        }
        &:last-child{
          &.active{
            .progress{
              > .progress-bar{
                width: 100%;
              }
            }
          }
        }
        .progress{
          position: relative;
          border-radius: 0px;
          height: 4px;
          box-shadow: none;
          margin: 20px 0;
          background-color: #C9C9C9;
          > .progress-bar{
            width:0px;
            box-shadow: none;
            background: #40CACA;
          }
        }
      }
    }

  }
}