{{ attach_library('bootstrap_barrio/node') }}

{%
set classes = [
'node',
'node--type-' ~ node.bundle|clean_class,
node.isPromoted() ? 'node--promoted',
node.isSticky() ? 'node--sticky',
not node.isPublished() ? 'node--unpublished',
view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
'clearfix',
]
%}
<article{{ attributes.addClass(classes) }}>
    <h2 class="node-title">{{ node.getTitle() }}</h2>
    <div{{ content_attributes.addClass('node__content', 'clearfix') }}>
        <p>Ines De La Taille</p>
        <p>Niveau EXPERT</p>
        {{ content.field_score }}
    </div>
</article>
