{{ attach_library('bootstrap_barrio/node') }}

{%
set classes = [
'node',
'node--type-' ~ node.bundle|clean_class,
node.isPromoted() ? 'node--promoted',
node.isSticky() ? 'node--sticky',
not node.isPublished() ? 'node--unpublished',
view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
'clearfix',
]
%}
<article{{ attributes.addClass(classes) }}>
    <a href="{{ path('entity.node.canonical', {'node': node.id}) }}">
        <div class="card-front">
            {{ content.field_image }}
            <h3>{{ node.getTitle() }}</h3>
            <p class="nb-certificates">5 Certifiés</p>
        </div>
        <div class="card-back">
            <p>{{ content.field_presentation }}</p>
        </div>
    </a>
</article>
