.node--type-page-certification {
  .node__content {
    margin-bottom: 50px;
    /* Gradient links (border + text) */
    .field--type-link a, .field--type-link a:before {
      @include gradient();
    }
    .field--type-link{
      a{
        @include btn-gradient();
      }
    }
    fieldset{
      &#introduction, &#explanation, &#target, &#how-to{
        > legend{
          display: none;
        }
        .field--name-field-title-introduction, .field--name-field-title-explanation, .field--name-field-title-target, .field--name-field-title-how-to{
          position: relative;
          margin-bottom: 20px;
          padding-bottom: 10px;
          h2, h3{
            font-weight: bold;
          }
        }
        .field--name-field-title-introduction{
          @include content-title();
        }
        .field--name-field-title-target{
          padding-top: 100px;
        }
        .field--name-field-title-explanation, .field--name-field-title-target, .field--name-field-title-how-to{
          @include content-heading();
        }
        .field--name-field-introduction-body, .field--name-field-explanation-body, .field--name-field-target-body, .field--name-field-how-to-content{
          font-size: $size22;
          color: $dturquoise;
          line-height: 1.2;
          text-align: justify;
        }
        .field--name-field-introduction-body, .field--name-field-target-body, .field--name-field-how-to-content{
          width: 40%;
        }
      }
      // Introduction for the certificate
      &#introduction{
        padding-top: 200px;
        margin-bottom: 8rem;
        z-index: 0;
        padding-left: 5%;
        background: url(/themes/custom/opquast/images/certificate/introduction-bg.png) no-repeat;
        background-size: auto 100%;
        background-position-x: 105%;
        background-position-y: -5px;
        min-height: 800px;
        position: relative;
      }
      .field--name-field-introduction-title{
        margin-top: 30px;
      }
      .field--type-link{
        position: absolute;
        bottom: 120px;
        left: 40%;
      }
      // Explanations for the certificate
      &#explanation{
        margin-bottom: 8rem;
        .field--name-field-explanation-title{
          margin-top: 100px;
        }
        > .fieldset-wrapper{
          @include flexbox();
          @include flex-direction(row);
          @include flex-wrap(wrap);
          padding: 0 5%;
          .field--type-image, fieldset#explanation-content{
            @include flex(0 0 50%);
          }
          fieldset#explanation-content{
            > legend{
              display: none;
            }
          }
          .field--type-image{
            img{
              max-width: 60%;
              height: auto;
            }
          }
        }
      }
      // Target concerned by certificate
      &#target{
        background: url(/themes/custom/opquast/images/certificate/target-bg.svg) no-repeat;
        background-size: auto 100%;
        background-position-x: 101%;
        min-height: 700px;
        position: relative;
        .fieldset-wrapper{
          padding-left: 5%;
        }
      }
      &#key-numbers{
        position: absolute;
        top: 25%;
        right: 3%;
        > legend{
          display: none;
        }
        .fieldset-wrapper{
          @include flexbox();
          .field--type-integer{
            &:not(:last-child){
              margin-right: 50px;
            }
            text-align: center;
            color: $white;
            font-weight: bold;
            width: 190px;
            span{
              display: block;
            }
            span{
              &.number{
                font-size: $size60;
              }
              &.suffix{
                font-size: $size36;
                text-transform: uppercase;
              }
            }
          }
        }
      }
      &#how-to{
        padding: 70px 5% 0;
        .field--name-field-how-to-content{
          width: 100%;
          -webkit-column-count: 2;
          -moz-column-count: 2;
          column-count: 2;
          -webkit-column-gap: 90px;
          -moz-column-gap: 90px;
          column-gap: 90px;
        }
      }
    }
    // Steps section
    .field--name-field-steps{
      padding-top: 70px;
      .field__items{
        > .field__item{
          &:nth-child(odd) {
            background: url(/themes/custom/opquast/images/certificate/step-left.svg) no-repeat;
            background-size: auto 100%;
            background-position-x: -1%;
            .paragraph{
              .field--name-field-step-icon{
                right: 20px;
              }
            }
          }
          &:nth-child(even) {
            background: url(/themes/custom/opquast/images/certificate/step-right.svg) no-repeat;
            background-size: auto 100%;
            background-position-x: 101%;
            @include flexbox();
            @include flex-direction(column);
            @include align-items(flex-end);
            .paragraph{
              .field--name-field-step-icon{
                left: 20px;
              }
            }
            .field--name-field-nb-step{
              text-align: right;
            }
          }
          .paragraph{
            min-height: 450px;
            color: $white;
            width: 40%;
            padding: 50px 5% 0;
            position: relative;
            .field--name-field-step-title{
              margin-bottom: 10px;
              font-size: $size22;
              h4{
                font-weight: bold;
              }
            }
            .field--name-field-step-content{
              font-size: $size22;
              text-align: justify;
            }
            .field--name-field-step-icon{
              position: absolute;
              top: -20px;
              img{
                max-width: 130px;
                max-height: 110px;
                width: auto;
                height: auto;
              }
            }
            .field--name-field-nb-step{
              font-weight: bold;
              font-size: $size60;
              margin-bottom: 45px;
            }
          }
        }
      }
    }
    .field--name-field-subscribe-button{
      position: absolute;
      margin-top: -190px;
      right: 20%;
    }
  }
}