.path-contact{
  .region-content{
    margin-bottom: 30px;
  }
  .form-choice{
    height: 70vh;
    @include flexbox();
    @include align-items(center);
    @include justify-content(center);
    width: 100%;
    text-align: center;
    a, a:before {
      @include gradient();
    }
    a{
      @include btn-gradient();
      min-width: 250px;
      margin: 0 20px;
    }
  }
  .region.region-content.row{
    @include flex-direction(row);
  }
}

.path-prise-de-contact{
  .region.region-content.row{
    @include flex-direction(row);
    padding: 0 8rem;
  }
  [id^="block-colorizedgooglemap"], [id^="block-maps"]{
    margin-top: 80px;
    h2{
      text-transform: uppercase;
    }
    img{
      width: 350px;
      margin-bottom: 20px;
    }
    > .content{
      padding-right: 8rem;
      .address{
        font-size: $size18;
        span[class^="icon-"]{
          margin-right: 5px;
        }
      }
    }
  }
  form.contact-form{
    @include flex(1 1 70%);
    //padding-left: 30px;
    margin: 100px auto;
    fieldset.js-form-type-textfield, fieldset.js-form-type-email, fieldset.js-form-type-tel{
      @include flex-basis(45%);
      margin-right: 5%;
    }
    fieldset.js-form-type-textarea {
      width: 100%;
    }
    /* Gradient inside border */
    button[type='submit'], button[type='submit']:before {
      @include gradient();
    }
    button[type='submit'] {
      float: right;
      @include btn-gradient;
    }
    // Textfields inputs' gradient border
    .js-form-type-textfield, .js-form-type-email, .js-form-type-textarea, .js-form-type-tel {
      @include gradient();
      border-radius: 30px;
      display: inline-block;
      padding: 2px;
      input, textarea {
        background-color: $white;
        margin: 0;
        border: none;
        display: block;
        padding: 10px;
        border-radius: 30px;
      }
    }
    .row{
      .js-form-item{
        &:nth-child(odd){
          margin-right: 4rem;
        }
        &:nth-child(even){
          margin-left: 4rem;
        }
      }
      margin-bottom: 20px;
      @include justify-content(space-between);
    }
    .js-form-item{
      position: relative;
      margin-top: 20px;
      label{
        left: 15px;
        position: absolute;
        top: -20px;
        text-transform: uppercase;
      }
    }
    .form-actions{
      padding-right: 80px;
    }
    .confirmation{
      text-align: center;
      p{
        font-size: $size18;
        font-weight: bold;
        &:not(:last-child){
          text-transform: uppercase;
        }
        &.gradient, &.gradient:before {
          @include gradient();
        }
        &.gradient{
          @include gradient-text;
          font-size: $size20;
        }
      }
      [class^="icon-"]{
        font-size: $size150;
      }
    }
  }
}