.node--type-page-formation{
  .field--type-link a, .field--type-link a:before {
    @include gradient();
  }
  .field--type-link{
    a{
      @include btn-gradient();
    }
  }
  fieldset{
    > legend {
      display: none;
    }
    &#presentation{
      margin-bottom: 8rem;
      background: url(/themes/custom/opquast/images/formations/presentation-bg.svg) no-repeat;
      min-height: 850px;
      background-size: 80% 100%;
      background-position-x: 105%;
      .fieldset-wrapper{
        width: 55%;
        margin-top: 300px;
        padding: 0 5%;
        .field--name-field-title-introduction{
          @include content-title;
          margin-bottom: 10px;
        }
        .field--name-field-introduction-body{
          @include content-text;
          margin-bottom: 20px;
        }
      }
    }
    &#training-one, &#training-two{
      margin-bottom: 8rem;
      > .fieldset-wrapper{
        @include flexbox();
        @include flex-wrap(wrap);
        fieldset#training-one-content, fieldset#training-two-content{
          width: 50%;
          margin-bottom: 10rem;
        }
        padding: 0 5%;
        .field--name-field-training-one-title, .field--name-field-training-two-title {
          max-width: 60%;
          margin-bottom: 10px;
          @include content-heading();
          position: relative;
          padding-bottom: 5px;
          //&:after{
          //  content: '';
          //  width: 140px;
          //  bottom: 0;
          //  display: block;
          //  position: absolute;
          //  background-color: $turquoise;
          //  height: 2px;
          //}
        }
        .field--name-field-training-one-body, .field--name-field-training-two-content, .field--name-field-training-one-subtitle{
          @include content-text;
          margin-bottom: 20px;
        }
        .field--name-field-training-one-subtitle{
          font-size: $size16;
        }
        .field--name-field-training-one-illustration{
          margin-bottom: 10rem;
        }
        .field--type-image{
          @include flex(0 0 50%);
          img{
            margin: 0 auto;
            max-width: 60%;
            height: auto;
          }
        }
        // Partner carousel section
        .field--name-field-training-one-references, .field--name-field-training-two-references {
          margin: 0 auto;
          width: 40%;
          h3{
            @include content-heading;
            text-align: center;
            margin-bottom: 50px;
          }
          article{
            margin-bottom: 0;
            border-bottom: 0;
            .field--name-field-image{
              > .field__item{
                text-align: center;
                img{
                  max-width: 550px;
                  height: auto;
                }
              }
            }
          }
        }
      }
      // Slider parameters
      .slider-prev-arrow, .slider-next-arrow{
        height: 55px;
        width: auto;
        position: absolute;
        top: calc(50% - 55px);
        cursor: pointer;
        transition: all .3s;
      }
      .slider-prev-arrow {
        left: -200px;
        &:hover{
          left: -210px;
        }
      }
      .slider-next-arrow {
        right: -200px;
        &:hover{
          right: -210px;
        }
      }
    }
    &#training-one{
      > .fieldset-wrapper{
        margin-left: auto;
        fieldset#training-one-content{
          @include flex(0 0 50%);
          fieldset#training-one-btns-wrapper{
            > .fieldset-wrapper{
              @include flexbox();
              @include justify-content(space-between);
              @include align-items(center);
            }
          }
          .field--type-link{
            width: 40%;
            display: inline-block;
            a{
              width: 100%;
              text-align: center;
            }
          }
        }
        // Three steps of training section
        .field--name-field-training-one-planning{
          @include flex(0 0 100%);
          margin-bottom: 6rem;
          .field__items{
            @include flexbox();
            .field__item{
              @include flex(0 0 33%);
              .paragraph{
                width: 80%;
                margin: 0 auto;
                .field--name-field-planning-icon{
                  text-align: center;
                  img{
                    width: auto;
                    max-width: 100%;
                    height: auto;
                    max-height: 170px;
                    margin-bottom: 30px;
                  }
                }
                .field--name-field-planning-content{
                  @include content-text;
                  text-align: center;
                }
              }
            }
          }
        }
      }
    }
    &#training-two{
      fieldset#training-two-content{
        @include flex(0 0 50%);
      }
      .field--type-image{
        text-align: right;
      }
      .field--name-field-training-two-file{
        margin-bottom: 40px;
        span.file--mime-application-pdf{
          background-image: url(/themes/custom/opquast/images/formations/pdf.svg);
          padding-left: 40px;
          a{
            @include content-text;
            font-size: $size16;
            color: $turquoise;
            display: block;
            width: 70%;
          }
        }
      }
    }
  }
}