.path-frontpage {
  .breadcrumb{
    display: none;
  }
  .node__content{
    margin-top: 0;
  }
  /* Gradient links (border + text) */
  .field--type-link a, .field--type-link a:before {
    @include gradient();
  }
  .field--type-link{
    a{
      @include btn-gradient();
    }
  }
  /* End gradient buttons */
  fieldset#presentation {
    background: url(/themes/custom/opquast/images/homepage/presentation-bg.svg) no-repeat;
    background-size: 102% auto;
    background-position-Y: -15px;
    background-position-x: 5%;
    min-height: calc(100vh - 111px);
    legend {
      display: none;
    }
    .field--name-field-image-presentation{
      margin-bottom: 120px;
    }
    .fieldset-wrapper {
      width: 60%;
      margin: 10vh auto 0;
      text-align: center;
      //margin-top: 10vh;
      .field--name-field-image-presentation{
        img{
          max-width: 340px;
          margin: 0 auto;
          height: auto;
        }
      }
      .field--name-field-presentation-title {
        font-size: $size40;
        color: $dturquoise;
        font-weight: bold;
        letter-spacing: -1.7px;
        text-transform: uppercase;
        position: relative;
        margin-bottom: 20px;
        padding-bottom: 10px;
        &:after{
          content: '';
          width: 200px;
          left: 50%;
          margin-left: -100px;
          bottom: 0;
          display: block;
          position: absolute;
          background-color: $turquoise;
          height: 2px;
        }
      }
      .field--name-field-presentation {
        letter-spacing: -1.2px;
        margin-bottom: 40px;
        text-align: center;
        font-size: $size26;
      }
    }
  }
  .field--name-field-content-section {
    margin-bottom: 85px;
    .field__item {
      .content-illustration{
        @include flexbox();
        @include flex-direction(column);
        @include justify-content(flex-end);
      }
      &:nth-child(n+2):nth-child(-n+4){
        .paragraph{
          .content-illustration{
            &.reversed{
              .field--name-field-background-image{
                padding-left: 5%;
                text-align: left;
              }
            }
            &:not(.reversed){
              .field--name-field-background-image{
                padding-right: 5%;
                text-align: right;
              }
            }
            .field--name-field-background-image{
              img{
                width: 60%;
              }
            }
          }
        }
      }
      .paragraph {
        min-height: 500px;
        margin-bottom: 90px;
        @include flexbox();
        .content-illustration{
          .field--name-field-background-image{
            text-align: center;
            img{
              max-width: 90%;
              height: auto;
            }
          }
        }
        .content-text {
          @include flexbox();
          @include flex-direction(column);
          @include justify-content(center);
          padding-top: 40px;
          text-align: justify;
          &.reversed{
            padding-right: 5%;
          }
          &:not(.reversed) {
            padding-left: 5%;
          }
          .field--name-field-title-section{
            //max-width: 40%;
            margin-bottom: 30px;
            font-weight: bold;
            @include content-heading();
          }
          .field--name-field-button{
            text-align: right;
          }
          .field--name-field-body{
            font-size: $size22;
            margin-bottom: 20px;
          }
        }
        .content-text, .content-illustration{
          width: 50%;
        }
      }
    }
  }
  // Testomonies view
  .views-element-container{
    width: 50%;
    margin: 0 auto;
    .view-testimonies{
      width: 100%;
      min-height: 400px;
      position: relative;
      text-align: center;
      h3{
        font-size: $size30;
        line-height: 1.1;
        color: $dturquoise;
        margin-bottom: 30px;
        font-weight: bold;
      }
      .view-content{
        .views-row{
          margin: 0 auto;
          article{
            border: 0;
            .field--name-body{
              text-align: center;
            }
            .field--name-field-surname-name{
              text-align: right;
            }
            .field--name-body, .field--name-field-surname-name{
              letter-spacing: -1.2px;
              margin-bottom: 40px;
              font-size: $size26;
              color: $dturquoise;
            }
          }
        }
      }

      // Slider parameters
      .slider-prev-arrow, .slider-next-arrow{
        width: 50px;
        position: absolute;
        top: 0;
        cursor: pointer;
        transition: all .3s;
      }
      .slider-prev-arrow {
        left: -70px;
        &:hover{
          left: -75px;
        }
      }
      .slider-next-arrow {
        right: -70px;
        &:hover{
          right: -75px;
        }
      }
      .slick-dots{
        li{
          display: inline-block;
          &.slick-active{
            button:after{
              background: transparent;
            }
          }
          button, button:before {
            @include gradient();
          }
          button{
            cursor: pointer;
            margin: 0 7px;
            @include dots-gradient();
          }
        }
      }
    }
  }
}