// Page de présentation des partenaires
.node--type-page-partenaire{
  .field--type-link a, .field--type-link a:before {
    @include gradient();
  }
  .field--type-link{
    a{
      @include btn-gradient();
    }
  }
  fieldset{
    &#introduction{
      margin-bottom: 8rem;
      > legend {
        display: none;
      }
      background: url(/themes/custom/opquast/images/partners/introduction-bg.svg) no-repeat;
      min-height: 920px;
      background-size: auto 100%;
      background-position-x: -5%;
      background-position-y: -5px;
      .fieldset-wrapper{
        width: 50%;
        margin: 300px auto 0;
        .field--name-field-introduction-title{
          @include content-title;
          margin-bottom: 10px;
        }
        .field--name-field-introduction-body{
          @include content-text;
          margin-bottom: 20px;
        }
        .field--type-link{
          text-align: right;
        }
      }
    }
    &#you-are{
      margin-bottom: 8rem;
      text-align: center;
      legend{
        @include content-heading;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 4rem;
      }
      .fieldset-wrapper{
        padding: 0 5%;
        .field--name-field-partner-type{
          @include flexbox();
          .field__item{
            @include flexbox();
            @include flex(1 1 33%);
            .paragraph{
              width: 60%;
              margin: 0 auto;
              .field--type-image{
                margin-bottom: 30px;
                img{
                  width: auto;
                  margin: 0 auto;
                  max-height: 120px;
                }
              }
              .field--name-field-title{
                @include content-heading;
                @include justify-content(center);
                margin-bottom: 10px;
              }
              .field--name-field-body{
                @include content-text;
              }
              .field--name-field-title, .field--name-field-body{
                text-align: center;
              }
            }
          }
        }
      }
    }
  }
  .field--name-field-become-partner-link{
    background: url(/themes/custom/opquast/images/partners/separator.png) no-repeat;
    background-position-Y: 50%;
    background-size: 100%;
    text-align: center;
    margin-bottom: 8rem;
    a{
      min-width: 280px;
    }
  }
}

// Liste avec les differents types de partenaires
.node--type-liste-des-partenaires{
  article{
    h2.node-title{
      text-align: center;
      margin: 4rem 0;
      font-size: $size36;
      text-transform: uppercase;
    }
    .field--name-field-partner-list{
      @include flexbox();
      @include flex-wrap(wrap);
      @include justify-content(center);
      > .field__item{
        @include flex(0 1 33%);
        margin-bottom: 8rem;
        .paragraph{
          //box-sizing: border-box;
          //-moz-box-sizing: border-box;
          //-webkit-box-sizing: border-box;
          padding: 2rem;
          width: 60%;
          text-align: center;
          margin: 0 auto;
          position: relative;
          -webkit-transition: .5s all;
          -moz-transition: .5s all;
          -ms-transition: .5s all;
          -o-transition: .5s all;
          transition: .5s all;
          border-radius: 50px;
          &:hover{
            @include gradient-border-select;
          }
          .field--name-field-icon{
            margin-bottom: 30px;
            img{
              max-height: 140px;
              width: auto;
              height: auto;
              max-width: 100%;
            }
          }
          .field--name-field-title{
            text-transform: uppercase;
            font-size: $size18;
          }
          .field--type-link{
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            a{
              color: transparent;
              display: block;
              height: 100%;
            }
          }
        }
      }
    }
    .field--name-field-become-partner-link{
      margin-bottom: 8rem;
      text-align: center;
      a, a:before {
        @include gradient();
      }
      a{
        @include btn-gradient();
      }
    }
  }
}

// Listes de partenaires (views)
.path-partenaires{
  .views-element-container{
    width: 70%;
    margin: 0 auto;
    .view-partner-list{
      background: url(/themes/custom/opquast/images/partners/search.png) no-repeat;
      background-position-x: 100%;
      background-size: 300px;
      .view-header{
        margin-bottom: 30px;
        h2{
          text-align: center;
          text-transform: uppercase;
          margin: 4rem 0 30px;
          font-size: $size34;
        }
        p{
          text-align: center;
          font-size: $size26;
        }
      }
      .view-content{
        flex-wrap: wrap !important;
        @include justify-content(space-between);
        .views-row{
          @include flex(0 1 45%);
          @include gradient;
          padding: 4px;
          border-radius: 30px;
          margin-bottom: 4rem;
          &:nth-child(odd) {
            margin-right: 20px;
          }
          &:nth-child(even) {
            margin-left: 20px;
          }
          article{
            @include flexbox();
            @include justify-content(center);
            @include flex-direction(column);
            background: $white;
            border-radius: 30px;
            border-bottom: 0;
            margin-bottom: 0;
            padding: 2rem;
            height: 250px;
            a{
              text-decoration: none;
              color: inherit;
            }
            .card-back{
              display: none;
            }
            // Display back card and hide front one
            &:hover{
              @include gradient;
              .card-front{
                display: none;
              }
              .card-back{
                display: block;
              }
            }
            .card-front{
              .field--name-field-image{
                text-align: center;
                img{
                  max-height: 150px;
                  width: auto;
                }
              }
              h3{
                text-transform: uppercase;
              }
              h3, p.nb-certificates{
                text-align: center;
                font-size: $size18;
              }
              p.nb-certificates{
                margin-bottom: 0;
              }
            }
            .card-back{
              color: $white;
              font-size: $size16;
            }
          }
        }
      }
    }
  }
}

// Pages dédiées aux partenaires
.node--type-partenaire{
  article.node--type-partenaire{
    padding: 4rem 10rem;
    background: url(/themes/custom/opquast/images/partners/search.png) no-repeat;
    background-position-x: 85%;
    background-position-y: 40px;
    background-size: 300px;
    h2{
      text-transform: uppercase;
      text-align: center;
    }
    .field--name-field-presentation{
      font-size: $size20;
      margin-bottom: 15px;
      .field__label{
        text-transform: uppercase;
        font-weight: bold;
      }
      .field__item{
        line-height: 1.3;
      }
      .field__item{
        font-size: $size18;
      }
    }
    .field--name-field-image{
      text-align: center;
      img{
        max-height: 150px;
        width: auto;
      }
    }
    fieldset#contact{
      width: 50%;
      legend{
        text-transform: uppercase;
        font-weight: bold;
      }
      .fieldset-wrapper{
        @include flexbox;
        @include flex-wrap(wrap);
        .field{
          margin-bottom: 1rem;
          a{
            color: $black;
          }
          p{
            margin-bottom: 0;
          }
          @include flex-basis(50%);
          position: relative;
          padding-left: 30px;
          &:before{
            @include icon-glyphter;
            position: absolute;
            color: $turquoise;
            font-size: $size20;
            left: 0;
          }
        }
      }

      .field--name-field-address{
        &:before{
          content: "\0049";
        }
      }
      .field--name-field-phone{
        &:before{
          content: "\0050";
        }
      }
      .field--name-field-linkedin{
        &:before{
          content: "\0048";
        }
      }
      .field--name-field-website{
        &:before{
          content: "\0058";
        }
      }
    }
  }
}