// Cart
.path-cart{
  .cart-form{
    .view{
      margin-top: 30px;
      h2{
        margin-left: 15%;
        text-transform: uppercase;
        margin-bottom: 2rem;
      }
      .views-form{
        margin: 0 auto;
        width: 70%;
        form{
          table.views-table{
            thead, tbody{
              a{
                color: $black;
              }
            }
            thead{
              th{
                border-color: $turquoise;
                border-bottom-width: 1px;
                text-transform: uppercase;
                font-weight: normal;
              }
            }
            tbody{
              border-bottom: 1px solid $turquoise;
            }
            .views-field-remove-button{
              display: none;
            }
          }
          input[id^="edit-edit-quantity"] {
            border-radius: 0;
            border-color: $turquoise;
          }
          #edit-actions{
            text-align: right;
            margin-top: 30px;
            button, button:before {
              @include gradient();
            }
            button{
              @include btn-gradient();
              font-size: $size16;
              cursor: pointer;
            }
            button[id^="edit-submit"]{
              display: none;
            }
          }
        }
      }
    }
  }
}

.field--name-total-price{
  .order-total-line-label, .order-total-line-label{
    text-transform: uppercase;
  }
}

// Checkout
.path-checkout{
  #edit-completion-message{
    text-align: center;
    text-transform: uppercase;
    font-size: $size18;
    [class^='icon-']{
      font-size: $size150;
      max-height: 140px;
      margin-bottom: 40px;
    }
    p.gradient, p.gradient:before {
      @include gradient();
    }
    p.gradient{
      @include gradient-text;
      padding: 0;
      font-size: $size20;
    }
  }
  .layout-checkout-form{
    padding: 0 8rem;
    position: relative;
    .layout-region-checkout-main{
      border-right: 2px solid $dturquoise;
      padding-right: 0;
    }
    .layout-region-checkout-secondary{
      padding-left: 4rem;
      .form-item-sidebar-coupon-redemption-form-code{
        margin-bottom: 0 !important;
        width: 70%;
        display: inline-block;
      }
      #edit-sidebar-coupon-redemption-form-apply{
        padding: 7px;
        margin-top: 0;
        min-width: 0;
      }
    }
    .layout-region-checkout-footer{
      padding-right: 0;
      position: absolute;
      top: 100%;
      right: 8rem;
      .form-actions{
        a{
          display: none;
        }
      }
    }
  }
  form[id^="commerce-checkout-flow-multistep-default"] {
    legend, h3{
      @include content-heading;
      font-weight: normal;
      color: $black;
      text-transform: uppercase;
      margin-bottom: 2rem;
    }
    padding-top: 100px;
    a{
      color: $dturquoise;
    }
    button, button:before {
      @include gradient();
    }
    button{
      @include btn-gradient();
      cursor: pointer;
      margin-top: 30px;
      float: right;
      font-size: $size16;
    }
    .js-form-type-textfield, .js-form-type-password, .js-form-type-email{
      @include gradient();
      border-radius: 30px;
      display: inline-block;
      padding: 2px;
      input{
        display: inline-block;
        width: auto;
        background-color: $white;
        border-radius: 30px;
      }
    }
    .js-form-item{
      position: relative;
      margin: 0 0 40px;
      label{
        left: 15px;
        position: absolute;
        top: -20px;
        text-transform: uppercase;
        &.sr-only{
          width: auto;
          height: auto;
          white-space: inherit;
          clip: inherit;
          clip-path: inherit;
        }
      }
      input{
        width: 100%;
        margin-top: 0;
      }
      div.description, div.password-strength, div.password-confirm{
        position: absolute;
        left: 15px;
        top: 110%;
      }
    }
    .view-commerce-checkout-order-summary{
      margin-bottom: 4rem;
      .view-content{
        border-bottom: 1px solid $dturquoise;
        margin-bottom: 15px;
      }
      table{
        td{
          border-top: 0;
        }
      }
    }
    fieldset{
      span.fieldset-legend{
        text-transform: uppercase;
      }
      &[id^="edit-login-returning-customer"], &[id^="edit-login-register"], &[id^="edit-payment-information"] {
        padding-right: 4rem;
        input{
          max-width: 100%;
        }
        .form-item-payment-information-billing-information-address-0-address-organization{
          width: 50%;
        }
        .form-group{
          width: 100%;
          @include flexbox();
          @include justify-content(space-between);
          @include flex-wrap(wrap);
          .js-form-item{
            width: 45%;
            input{
              width: 100%;
            }
          }
        }
        #edit-payment-information-billing-information-address-0-address{
          @include flexbox();
          @include flex-wrap(wrap);
        }
        // Inputs with descriptions
        .form-item-login-register-name, .form-item-login-register-password-pass2{
          margin-bottom: 40px;
        }
        .form-item-login-register-password-pass1{
          margin-bottom: 60px;
        }
      }
    }
  }
}