.path-devis{
  form.quotation-form{
    width: 70%;
    padding-top: 60px;
    margin: 0 auto 100px;
    text-align: center;
    /* Gradient inside border */
    button[type='submit'], button[type='submit']:before {
      @include gradient();
    }
    button[type='submit'] {
      @include btn-gradient;
    }
    .confirmation{
      text-align: center;
      p{
        font-size: $size18;
        font-weight: bold;
        &:not(:last-child){
          text-transform: uppercase;
        }
        &.gradient, &.gradient:before {
          @include gradient();
        }
        &.gradient{
          @include gradient-text;
          font-size: $size20;
        }
      }
      [class^="icon-"]{
        font-size: $size150;
      }
    }
    .slick-track{
      @include flexbox();
      @include align-items(center);
    }
    .step {
      // Common for all steps
      outline: none;
      .row{
        @include justify-content(center);
        .js-form-item{
          &:nth-child(odd){
            margin-right: 4rem;
          }
          &:nth-child(even){
            margin-left: 4rem;
          }
        }
        margin-bottom: 20px;
      }
      h2{
        font-size: $size40;
        font-weight: bold;
      }
      p{
        &.description{
          font-size: $size26;
          text-transform: uppercase;
          margin-bottom: 60px;
        }
        &.label{
          font-size: $size18;
          text-transform: uppercase;
          font-weight: bold;
        }
      }
      input{
        color: $black;
      }
      [class^="icon-"]{
        font-size: $size280;
        max-height: 280px;
        margin-bottom: 20px;
      }
      // End common styling
      &-one{
        .js-form-type-number {
          margin-bottom: 20px !important;
          input{
            width: 100px;
            height: 50px;
            font-size: $size40;
            text-align: center;
          }
        }
      }
      &-one, &-four{
        .js-form-item{
          position: relative;
          margin-top: 20px;
          @include gradient();
          border-radius: 30px;
          display: inline-block;
          padding: 2px;
          input {
            line-height: 1;
            background-color: $white;
            margin: 0;
            border: none;
            display: block;
            padding: 10px;
            border-radius: 30px;
          }
          label{
            left: 15px;
            position: absolute;
            top: -20px;
            text-transform: uppercase;
          }
        }
      }
      // Radio buttons steps
      &-two{
        #edit-nature{
          @include flexbox();
          @include justify-content(space-between);
          .js-form-type-radio{
            @include flex-basis(33%);
            label, label:before {
              @include gradient();
            }
            label{
              @include icon-gradient();
              padding: 2rem;
            }
            input[type="radio"]{
              display: none;
              &:checked+label{
                @include gradient-border-select;
              }
            }
            &:nth-child(1){
              label:before{
                content:'\0052';
              }
            }
            &:nth-child(2){
              label:before{
                content:'\0054';
              }
            }
            &:nth-child(3){
              label:before{
                content:'\004f';
              }
            }
            label{
              cursor: pointer;
              text-transform: uppercase;
              font-weight: bold;
              -webkit-text-fill-color: $black;
              &:before{
                display: block;
                font-family: 'opquast';
                font-style: normal;
                font-weight: normal;
                line-height: 1;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                font-size: $size200;
                max-height: 280px;
                margin-bottom: 20px;
              }
            }
          }
        }
      }
      &-three{
        #edit-present-formation{
          @include flexbox();
          @include justify-content(space-around);
          .js-form-type-checkbox{
            label, label:before {
              @include gradient();
            }
            label{
              @include icon-gradient();
              padding: 2rem;
            }
            input[type="checkbox"]{
              display: none;
              &:checked+label{
                @include gradient-border-select;
              }
            }
            &:nth-child(1){
              label:before{
                content:'\0053';
              }
            }
            &:nth-child(2){
              label:before{
                content:'\0051';
              }
            }
            label{
              cursor: pointer;
              text-transform: uppercase;
              font-weight: bold;
              -webkit-text-fill-color: $black;
              &:before{
                display: block;
                font-family: 'opquast';
                font-style: normal;
                font-weight: normal;
                line-height: 1;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                font-size: $size200;
                max-height: 280px;
                margin-bottom: 20px;
              }
            }
          }
        }
      }
      &-four{
        .js-form-type-textfield, .js-form-type-email, .js-form-type-textarea, .form-type-number, .js-form-type-tel {
          width: 30%;
        }
      }
      .form-actions{
        clear: both;
        margin-top: 80px;
      }
      .mandatory-fields{
        text-align: left;
        padding-left: 15%;
      }
      // Align recaptcha
      .g-recaptcha{
        float: right;
        margin-top: 20px;
      }
    }
  }
  // Slick carousel arrows
  /* Gradient links (border + text) */
  a.slider-prev-arrow, a.slider-next-arrow, a.slider-next-arrow:before, a.slider-prev-arrow:before {
    @include gradient();
  }
  a{
    &.slider-prev-arrow, &.slider-next-arrow{
      padding: 5px 30px !important;
      @include btn-gradient();
      top: 100%;
      display: inline;
      width: auto;
      position: absolute;
      cursor: pointer;
      transition: all .3s;
      &.slick-disabled{
        display: none !important;
      }
    }
    &.slider-prev-arrow {
      left: -70px;
    }
    &.slider-next-arrow {
      right: -70px;
    }
  }
}