html, body{
  font-family: Neutra !important;
  font-size: 14px;
}

// Styling li element style
.field--type-text-long{
  ul{
    li{
      //padding-left: 40px;
      &:before{
        margin-right: 15px;
        content: "";
        display: inline-block;
        @include gradient;
        border-radius: 30px;
        width: 30px;
        height: 15px;
      }
    }
  }
}

/*END BASE BUTTON*/
/*ROTATE*/
.rot-360-noscoop:hover {
  filter: hue-rotate(360deg);
  transform: rotate(360deg);
}
.rot-135:hover {
  filter: hue-rotate(135deg);
}
.rot-90:hover {
  filter: hue-rotate(90deg);
}
/*END ROTATE*/

.row{
  flex-wrap: nowrap !important;
}

// Hide node title except few pages
body:not(.node--type-liste-des-partenaires){
  article{
    h2.node-title{
      display: none;
    }
  }
}

.alert-success{
  width: 60% !important;
  margin: 2rem auto;
  [class^="icon-"]{
    font-size: $size16;
  }
}

// Reset for mozilla firefow
button{
  border: 0;
}

h1{
  display: none;
}