// --------------------------------------------------
// Flexbox SASS mixins
// The spec: http://www.w3.org/TR/css3-flexbox
// --------------------------------------------------

// Flexbox display
@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

// The 'flex' shorthand
// - applies to: flex items
// <positive-number>, initial, auto, or none
@mixin flex($values) {
  -webkit-box-flex: $values;
  -moz-box-flex: $values;
  -webkit-flex: $values;
  -ms-flex: $values;
  flex: $values;
}

// Flex Flow Direction
// - applies to: flex containers
// row | row-reverse | column | column-reverse
@mixin flex-direction($direction) {
  -webkit-flex-direction: $direction;
  -moz-flex-direction: $direction;
  -ms-flex-direction: $direction;
  flex-direction: $direction;
}

// Flex Line Wrapping
// - applies to: flex containers
// nowrap | wrap | wrap-reverse
@mixin flex-wrap($wrap) {
  -webkit-flex-wrap: $wrap;
  -moz-flex-wrap: $wrap;
  -ms-flex-wrap: $wrap;
  flex-wrap: $wrap;
}

// Flex Direction and Wrap
// - applies to: flex containers
// <flex-direction> || <flex-wrap>
@mixin flex-flow($flow) {
  -webkit-flex-flow: $flow;
  -moz-flex-flow: $flow;
  -ms-flex-flow: $flow;
  flex-flow: $flow;
}

// Display Order
// - applies to: flex items
// <integer>
@mixin order($val) {
  -webkit-box-ordinal-group: $val;
  -moz-box-ordinal-group: $val;
  -ms-flex-order: $val;
  -webkit-order: $val;
  order: $val;
}

// Flex grow factor
// - applies to: flex items
// <number>
@mixin flex-grow($grow) {
  -webkit-flex-grow: $grow;
  -moz-flex-grow: $grow;
  -ms-flex-grow: $grow;
  flex-grow: $grow;
}

// Flex shrink
// - applies to: flex item shrink factor
// <number>
@mixin flex-shrink($shrink) {
  -webkit-flex-shrink: $shrink;
  -moz-flex-shrink: $shrink;
  -ms-flex-shrink: $shrink;
  flex-shrink: $shrink;
}

// Flex basis
// - the initial main size of the flex item
// - applies to: flex itemsnitial main size of the flex item
// <width>
@mixin flex-basis($width) {
  -webkit-flex-basis: $width;
  -moz-flex-basis: $width;
  -ms-flex-basis: $width;
  flex-basis: $width;
}

// Axis Alignment
// - applies to: flex containers
// flex-start | flex-end | center | space-between | space-around
@mixin justify-content($justify) {
  -webkit-justify-content: $justify;
  -moz-justify-content: $justify;
  -ms-justify-content: $justify;
  justify-content: $justify;
  -ms-flex-pack: $justify;
}

// Packing Flex Lines
// - applies to: multi-line flex containers
// flex-start | flex-end | center | space-between | space-around | stretch
@mixin align-content($align) {
  -webkit-align-content: $align;
  -moz-align-content: $align;
  -ms-align-content: $align;
  align-content: $align;
}

// Cross-axis Alignment
// - applies to: flex containers
// flex-start | flex-end | center | baseline | stretch
@mixin align-items($align) {
  -webkit-align-items: $align;
  -moz-align-items: $align;
  -ms-align-items: $align;
  align-items: $align;
}

// Cross-axis Alignment
// - applies to: flex items
// auto | flex-start | flex-end | center | baseline | stretch
@mixin align-self($align) {
  -webkit-align-self: $align;
  -moz-align-self: $align;
  -ms-align-self: $align;
  align-self: $align;
}

@mixin gradient {
  background: rgba(0, 163, 186, 1);
  background: -moz-linear-gradient(0% 50% 0deg,rgba(0, 163, 186, 1) 0%,rgba(0, 150, 155, 1) 39.03%,rgba(37, 67, 87, 1) 100%);
  background: -webkit-gradient(linear,0% 50% ,100% 50% ,color-stop(0,rgba(0, 163, 186, 1) ),color-stop(0.3903,rgba(0, 150, 155, 1) ),color-stop(1,rgba(37, 67, 87, 1) ));
  background: -webkit-linear-gradient(0deg, rgba(0, 163, 186, 1) 0%, rgba(0, 150, 155, 1) 39.03%, rgba(37, 67, 87, 1) 100%);
  background: -o-linear-gradient(0deg, rgba(0, 163, 186, 1) 0%, rgba(0, 150, 155, 1) 39.03%, rgba(37, 67, 87, 1) 100%);
  background: -ms-linear-gradient(0deg, rgba(0, 163, 186, 1) 0%, rgba(0, 150, 155, 1) 39.03%, rgba(37, 67, 87, 1) 100%);
  background: linear-gradient(90deg, rgba(0, 163, 186, 1) 0%, rgba(0, 150, 155, 1) 39.03%, rgba(37, 67, 87, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00A3BA',endColorstr='#254357' , GradientType=1);
}

@mixin btn-gradient{
  display: inline-block;
  position: relative;
  border-radius: 30px;
  text-decoration: none;
  padding: 15px;
  cursor: pointer;
  min-width: 250px;
  text-align: center;
  font-size: $size20;
  text-transform: uppercase;
  font-weight: bold;
  transition: all .5s;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  &:hover{
    text-decoration: none;
    text-shadow: 0px 0px 0px rgba(255, 255, 255, .75);
    &:after{
      left: 100%;
      top: 100%;
      bottom: 100%;
      right: 100%;
    }
  }
  &:before{
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    border-radius: 30px;
    transition: all .5s;
  }
  &:after{
    content: '';
    display: block;
    position: absolute;
    left: 2px;
    top: 2px;
    bottom: 2px;
    right: 2px;
    z-index: -1;
    border-radius: 30px;
    transition: all .5s;
    background-color: white;
  }
}

@mixin icon-gradient{
  //display: inline-block;
  position: relative;
  border-radius: 30px;
  text-decoration: none;
  padding: 15px;
  font-size: $size20;
  text-transform: uppercase;
  font-weight: bold;
  transition: all .5s;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  &:before{
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  &:after{
    content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      z-index: -1;
      border-radius: 30px;
      transition: all .5s;
  }
}

@mixin gradient-text {
  position: relative;
  border-radius: 30px;
  text-decoration: none;
  padding: 15px;
  font-size: $size20;
  text-transform: uppercase;
  font-weight: bold;
  transition: all .5s;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  &:before{
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  &:after{
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    border-radius: 30px;
    transition: all .5s;
  }
}

@mixin dots-gradient {
  display: inline-block;
  position: relative;
  border-radius: 30px;
  text-decoration: none;
  transition: all .5s;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 0;
  width: 32px;
  height: 18px;
  &:hover{
    &:after{
      left: 100%;
      top: 100%;
      bottom: 100%;
      right: 100%;
    }
  }
  &:before{
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    border-radius: 30px;
    transition: all .5s;
  }
  &:after{
    content: '';
    display: block;
    position: absolute;
    left: 1px;
    top: 1px;
    bottom: 1px;
    right: 1px;
    z-index: -1;
    border-radius: 30px;
    transition: all .5s;
    background-color: white;
  }
}

@mixin content-text {
  color: $dturquoise;
  font-size: $size22;
  line-height: 1.2;
  text-align: justify;
}

@mixin content-title {
  color: $dturquoise;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: -1.7px;
  font-weight: bold;
  font-size: $size40;
  h2{
    font-size: $size40;
    font-weight: bold;
  }
}

@mixin content-heading {
  color: $dturquoise;
  text-align: left;
  font-size: $size30;
  line-height: 1.1;
  letter-spacing: -1.7px;
  font-weight: bold;
  h3, h4{
    font-size: $size30;
    font-weight: bold;
  }
}

@mixin gradient-border-select {
  -webkit-box-shadow: inset 0px 0px 0px 4px $turquoise;
  -moz-box-shadow: inset 0px 0px 0px 4px $turquoise;
  box-shadow: inset 0px 0px 0px 4px $turquoise;
}

@mixin icon-glyphter {
  display: inline-block;
  font-family: 'opquast';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}