/* The Modal (background) */
#search-modal-container.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #fefefe;
  /* Modal Content/Box */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin: 45px 45px 0 0;
  }
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  .modal-search {
    background-color: #fefefe;
    margin: 0 auto; /* 15% from the top and centered */
    padding: 20px;
    width: 100%;
    height: 100%;
    @include flexbox();
    @include align-items(center);
    @include justify-content(center);
    form#search-block-form{
      @include flexbox();
      @include justify-content(center);
      width: 100%;
      .js-form-type-search{
        @include gradient();
        display: inline-block;
        padding-bottom: 2px;
        border-radius: 0;
        width: 70%;
        position: relative;
        input[id^="edit-keys"] {
          height: 80px;
          font-size: $size60;
          outline: none;
          background-color: $white;
          border-radius: 0;
          border: 0;
        }
        [class^="icon"]{
          cursor: pointer;
          font-size: $size60;
          position: absolute;
          right: 0;
          bottom: 0;
          max-height: 90px;
        }
      }
      button[id^="edit-submit"] {
        display: none;
      }
    }
  }
}