// Font sizes
$size8: 0.5714rem;
$size10: 0.7143rem;
$size11: 0.7857rem;
$size12: 0.8571rem;
$size13: 0.9286rem;
$size14: 1rem;
$size15: 1.071rem;
$size16: 1.143rem;
$size17: 1.214rem;
$size18: 1.286rem;
$size20: 1.429rem;
$size22: 1.571rem;
$size24: 1.714rem;
$size26: 1.857rem;
$size28: 2rem;
$size30: 2.143rem;
$size32: 2.286rem;
$size34: 2.429rem;
$size36: 2.571rem;
$size40: 2.857rem;
$size48: 3.429rem;
$size50: 3.571rem;
$size55: 3.929rem;
$size60: 4.286rem;
$size72: 5.143rem;
$size85: 6.071rem;
$size150: 10.71rem;
$size200: 14.29rem;
$size280: 20rem;

// Colors
$white : #fff;
$black: black;
$turquoise: #2a7e7e;
$dturquoise: #14425B;
$grey: #868686;

// Colors
$c-primary: rgb(0, 163, 186);
$c-secondary: rgb(0, 150, 155);
$c-white: rgb(37, 67, 87);