@import 'compass/css3';

@import 'maxins';
@import 'variables';
@import 'global';
@import 'reset';
@import 'page/homepage';
@import 'page/purchase';
@import 'page/contact';
@import 'page/quotation';
@import 'page/product';
@import 'page/formations';
@import 'page/partners';
@import 'page/certificate';
@import 'block/newsletter_block';
@import 'block/certificates_list';
@import 'block/progress_bar';
@import 'region/footer';
@import 'region/header';
@import 'search';
@import 'layout';

// Fonts
// Neutra
@font-face {
  font-family: 'Neutra';
  src: url('../fonts/Neutra/neutra-text.otf') format("opentype");
}
@font-face {
  font-family: 'Neutra';
  font-weight: bold;
  src: url('../fonts/Neutra/neutra-text-bold.otf') format("opentype");
}
@font-face {
  font-family: 'Neutra';
  font-weight: 300;
  src: url('../fonts/Neutra/neutra-text-light.otf') format("opentype");
}
@font-face {
  font-family: 'Neutra';
  font-weight: bold;
  font-style: italic;
  src: url('../fonts/Neutra/neutra-text-bold-italic.otf') format("opentype");
}

// Opquast logos
@font-face {
  font-family: 'opquast';
  src: url('../fonts/opquast.eot');
  src: url('../fonts/opquast.eot?#iefix') format('embedded-opentype'),
  url('../fonts/opquast.woff') format('woff'),
  url('../fonts/opquast.ttf') format('truetype'),
  url('../fonts/opquast.svg#opquast') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class*='icon-']:before{
  display: inline-block;
  font-family: 'opquast';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
.icon-pictoarrowleft:before{content:'\0041';}
.icon-pictoarrowright:before{content:'\0042';}
.icon-pictobasket:before{content:'\0043';}
.icon-pictocross:before{content:'\0044';}
.icon-pictoeye:before{content:'\0045';}
.icon-pictoeye2:before{content:'\0046';}
.icon-pictofacebook:before{content:'\0047';}
.icon-pictolinkedin:before{content:'\0048';}
.icon-pictolocalisation:before{content:'\0049';}
.icon-pictoprofil:before{content:'\004a';}
.icon-pictosearch:before{content:'\004b';}
.icon-pictoslack:before{content:'\004c';}
.icon-pictotwitter:before{content:'\004d';}
.icon-pictomessage:before{content:'\004e';}
.icon-pictoteam2:before{content:'\004f';}
.icon-pictocell:before{content:'\0050';}
.icon-pictoweb:before{content:'\0051';}
.icon-pictocertificationpapier:before{content:'\0052';}
.icon-pictoteam:before{content:'\0053';}
.icon-pictocodelaptop:before{content:'\0054';}
.icon-pictoheart:before{content:'\0057';}
.icon-pictoearthweb:before{content:'\0058';}

[class*='icon-'].gradient, [class*='icon-'].gradient:before {
  @include gradient();
}
[class*='icon-'].gradient{
    @include icon-gradient();
}