<div class="container">
    <div class="row purchase-steps" style="border-bottom:0;">
        <div class="col-xs-3 {% if step == 1 %}active{% elseif step > 1 %}complete{% endif %} step">
            <div class="progress"><div class="progress-bar"></div></div>
            <a href="#" class="step-dot"></a>
            <div class="text-center">Récapitulatif de la commande</div>
        </div>

        <div class="col-xs-3 {% if step == 2 %}active{% elseif step > 2 %}complete{% endif %} step">
            <div class="progress"><div class="progress-bar"></div></div>
            <a href="#" class="step-dot"></a>
            <div class="text-center">Informations de livraison</div>
        </div>

        <div class="col-xs-3 {% if step == 3 %}active{% elseif step > 3 %}complete{% endif %} step">
            <div class="progress"><div class="progress-bar"></div></div>
            <a href="#" class="step-dot"></a>
            <div class="text-center">Mode de paiement</div>
        </div>
    </div>
</div>