{%
set classes = [
'paragraph',
'paragraph--type--' ~ paragraph.bundle|clean_class,
view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
not paragraph.isPublished() ? 'paragraph--unpublished'
]
%}
{% block paragraph %}
    <div{{ attributes.addClass(classes) }}>
        {% block content %}
            {% if paragraph.field_reversed_display.value == 1 %}
                <div class="content-illustration reversed">
                    {{ content.field_background_image }}
                </div>
                <div class="content-text reversed">
                    {{ content.field_title_section }}
                    {{ content.field_body }}
                    {{ content.field_button }}
                </div>
            {% else %}
                <div class="content-text">
                    {{ content.field_title_section }}
                    {{ content.field_body }}
                    {{ content.field_button }}
                </div>
                <div class="content-illustration">
                    {{ content.field_background_image }}
                </div>
            {% endif %}
        {% endblock %}
    </div>
{% endblock paragraph %}
