<html>
    <body>
        <p>Nom : {{ name }}</p>
        <p>Email : {{ email }}</p>
        <p>Téléphone : {{ phone }}</p>
        <p>Sujet : {{ subject }}</p>
        <p>Message : {{ message }}</p>
    </body>
</html>