<html>
    <body>
        <p>Nom : {{ name }}</p>
        <p>Email : {{ email }}</p>
        <p>Société : {{ compagny }}</p>
        <p>Téléphone : {{ phone }}</p>
        <p>Adresse : {{ address }}</p>
        <p>Nature de la demande : {{ nature }}</p>
        <p>Nombre de candidats : {{ nb_candidates }}</p>
        <p>Remarques : {{ remarks }}</p>
    </body>
</html>