.region-footer{
  padding: 0 30px;
  @include gradient();
  min-height: 246px;
  margin-bottom: 15px;
  color: $white;
  h3{
    font-size: $size18;
    text-transform: uppercase;
    font-weight: bold;
    position: relative;
    margin-bottom: 25px;
    &:after{
      content: '';
      width: 30px;
      bottom: 0;
      display: block;
      position: absolute;
      background-color: $white;
      height: 1px;
    }
  }
  .footer-logo, .footer-contact, .footer-info, .footer-follow-us, .footer-newsletter{
    padding-top: 60px;
    font-size: $size16;
    a{
      color: $white;
    }
  }
  .footer-logo{
    max-width: 280px;
    img.opquast-logo {
      width: 210px;
    }
  }
  .footer-contact{

  }
  .footer-follow-us{
    a{
      display: inline-block;
      margin-right: 20px;
      font-size: $size18;
    }
  }
  .footer-legal{

  }
}
p.watermark{
  text-align: center;
}