section.region-header {
  @include justify-content(space-between);
  border-bottom: 1px solid $grey;
  min-height: 112px;
  transition: .5s height;
  a.home-link{
    width: 205px;
  }
  nav[id^="block-opquast-main-menu"] {
    //height: 112px;
    img.opquast-logo{
      max-width: 205px;
      margin: 0 30px;
    }
    transition: .5s height;
    &.dropdown-opened{
      //height: 200px;
      ul{
        padding-bottom: 100px;
      }
    }
  }
  nav[id^="block-opquast-account-menu"] {
    margin-right: 30px;
    ul.nav{
      li{
        a{
          font-size: $size18;
          &:before{
            font-size: $size28;
          }
        }
      }
    }
  }
}
.dropdown-item{
  &.active{
    background-color: transparent !important;
    a{
      font-weight: bold;
    }
  }
}

// Commun to all navs
section.region-header {
  nav[id^="block-opquast-main-menu"], nav[id^="block-opquast-account-menu"] {
    @include flexbox();
    @include flex-grow(1);
    @include align-items(center);
    .nav-item{
      position: relative;
      .cart-qty{
        position: absolute;
        @include gradient;
        color: $white;
        width: 20px;
        height: 20px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        border-radius: 50px;
        text-align: center;
        z-index: 1;
        bottom: 10px;
        right: 10px;
      }
    }
    ul.nav{
      @include flex-direction(row);
      li:not(.dropdown-item){
        padding: 0 25px;
        &:hover{
          a::after{
            opacity: 1;
            -webkit-transform: translate3d(0,0,0);
            transform: translate3d(0,0,0);
          }
          overflow: visible;
          ul.dropdown-menu{
            background: $white;
            z-index: 1;
            opacity: 1;
            -webkit-transform: translate3d(0,0,0);
            transform: translate3d(0,0,0);
          }
        }
        a{
          color: $black;
          font-size: $size18;
          text-transform: uppercase;
          &.dropdown-item{
            padding: .25rem 0;
          }
        }
        > a{
          position: relative;
          overflow: hidden;
          &.dropdown-toggle::after{
            margin: 0;
            border: 0;
          }
          &:after {
            opacity: 0;
            position: absolute;
            bottom: 0;
            width: 100%;
            margin: 0 auto;
            left: 0;
            right: 0;
            height: 3px;
            @include gradient;
            content: '';
            -webkit-transition: -webkit-transform 0.35s;
            transition: transform 0.35s;
            -webkit-transform: translate3d(-100%,0,0);
            transform: translate3d(-100%,0,0);
          }
        }
        ul.dropdown-menu{
          z-index: -999;
          border: 0;
          background: none;
          position: absolute;
          display: block;
          padding: 1em 0;
          opacity: 0;
          -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
          transition: opacity 0.35s, transform 0.35s;
          -webkit-transform: translate3d(-100%,0,0);
          transform: translate3d(-100%,0,0);
          .dropdown-item{
            &:hover{
              background: none;
              //a{
              //  text-decoration: none;
              //}
            }
          }
        }
      }
    }
  }
}

ul.nav li.dropdown:hover > ul.dropdown-menu {
  display: block;
  position: absolute;
}

// Breadcrumb
div.breadcrumb{
  background: none !important;
  border-bottom: 1px solid $grey;
  margin-bottom: 0;
  ol.breadcrumb{
    background: none;
    margin: 0;
    li.breadcrumb-item{
      color: $black;
      text-transform: uppercase;
      font-size: $size16;
      a{
        color: $black;
      }
    }
  }
}