{%
set classes = [
'region',
'row',
'region-' ~ region|clean_class,
]
%}
{% if content %}
    <div{{ attributes.addClass(classes) }}>
        <div class="col-sm footer-logo">
            <img class="opquast-logo" src="{{ file_url('themes/custom/opquast/images/logoopquastfooter.svg') }}" alt="Logo d'Opquast"/>
        </div>
        <div class="col-sm footer-contact">
            <h3>Contact</h3>
            <p class="footer-address">18, rue Lucien Granet <br/> 33150 Cenon, France</p>
            <p class="footer-phone">T: +33 5 56 401 402</p>
        </div>
        <div class="col-sm footer-info">
            <h3>Informations</h3>
            <a class="footer-legal" href="/">Mentions légales</a>
        </div>
        <div class="col-sm footer-follow-us">
            <h3>Suivez-nous</h3>
            <a class="icon-pictolinkedin" href="/"></a>
            <a class="icon-pictoslack" href="/"></a>
            <a class="icon-pictofacebook" href="/"></a>
            <a class="icon-pictotwitter" href="/"></a>
        </div>
        <div class="col-sm footer-newsletter">
            <h3>Inscrivez-vous à la newsletter</h3>
            {{ content }}
        </div>
    </div>
    <p class="watermark">Opquast - SAS au capital de 125 748€ - N de l'organisme de formation : 72.33.05637.33</p>
{% endif %}
